<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/TeamBash">Weather Predictor</a></strong>
			- Developed a fault tolerant prototype which is built on Service Oriented Architecture with multiple micro services communicating with each other through REST calls. Deployed the services on Amazon EC2 instances with the database hosted on RDS. The prototype features continuous integration, continuous deployment and load balancing.
		</h5>
        <br>
        <h5>
            <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/manikandan5/Stereogram">Stereogram</a></strong>
            The program creates a stereo image from the normal image and the disparity map from the same view. If a seed image is given instead of a disparity map is not given, it tries to estimate the disparity using Markov Random Field energy minimization.
        </h5>
        <br>
        <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/manikandan5/Image-Matching-Stitching-Warping">Image Matching, Stitching and Warping</a></strong>
			Given two images of the same object, but of different view, the program tries to find the matching SIFT points. Then it estimates the homography and performs the projective transformation so that the second image is transformed into the same view as the first image.
        </h5>
        <br>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/manikandan5/Optical_Music_Recognition">Optical Music Recognition</a></strong>
			Program to find the music notes from the picture of a music sheet. It uses image recognition techniques to identify the same.
        </h5>
        <br>
        <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/manikandan5/Object-detection">Object detection</a></strong>
			The project classifies the objects in every image into a pre-defined class. In this project, we have compared the results found using a simple baseline(subsampled pixel points passed to a SVM), Principal Component Analysis (PCA), Haar-like features (Viola-Jones), Bag Of Words model and a Convolutional Neural Network.
        </h5>
        <br>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/manikandan5/SceneClassification">Scene Classifier</a></strong>
			Scene classification is a problem under the domain of object recognition. Scene classification is a very interesting problem of automatically labeling an image among a set of semantic categories. To achieve this, we had implemented a Bag Of Words model and used Cornell's SVMLight to train and classify the data.
        </h5>
        <br>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/manikandan5/Yelp-Dataset-Challenge">YELP Dataset Challenge</a></strong>
			My attempt at the Yelp Dataset Challenge that could be found in the <a href="https://www.yelp.com/dataset_challenge">YELP site </a>. Predicted the category of the restaurant by training the classifier on the given dataset.
        </h5>
        <br>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/manikandan5/Search-Indexation">Search-Indexation</a></strong>
			Indexation of documents provided using Lucene Package.
        </h5>
        <br>
        <h5>
            <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/manikandan5/Search-Retrieval">Search-Retrieval</a></strong>
            Implementation of various retrieval algorithms using Lucene Package.
        </h5>
        <br>
        <h5>
            <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/manikandan5/Search-QueryCentricPageRank">Search-QueryCentricPageRank</a></strong>
            Implementation of Query Centric Page Rank algorithm using Lucene and JUNG packages.
        </h5>
        <br>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/manikandan5/ShoppingWebsite">Shopping Website</a></strong>
			A shopping website with which lets the user register, view and order the products on the site and an admin panel to monitor the orders and manage the inventory of the site.
        </h5>
        <br>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/manikandan5/ImageOrientation">Image Orientation</a></strong>
            The program tries to find the right orientation of the given image. It trains on the given dataset and classifies the orientation using K-nearest neighbors and Neural networks.
        </h5>
        <br>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/manikandan5/POSTagger">POS Tagger</a></strong>
            Program which classifies the given sentence into its respective part of speech using Bayesian network models and Natural Language Processing techniques.
        </h5>
        <br>
        <h5>
            <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/manikandan5/Zacate">Zacate</a></strong>
            Zacate is traditional dice game played in Latin America. It is a game of chance. The rules of the game can be found in the github repository. The code here is an AI program which takes certain decisions to maximize the score.
        </h5>
        <br>
        <h5>
            <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/manikandan5/MapColoring">Map Coloring</a></strong>
            The program address the typical map coloring problem and tries to come up with a solution so that no adjacent states have the same color.
        </h5>
        <br>
        <h5>
            <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/manikandan5/Heuristic-search-and-Games">Heuristic Search and Games</a></strong>
            AI Player to play Rameses and Totogram using Heuristic Search algorithms such as BFS and Iterative Deepening.
        </h5>
        <br>
        <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/manikandan5/AdvancedOpeartingSystem-Kernel">Operating System</a></strong>
			Developed process synchronization, basic memory management, networking and simple file systems on a XINU OS running on a Beagle Bone Black.
		</h5>
    </div>
  </div>
</div>
</section>
